# Librerías principales
mysql-connector-python
python-dotenv

# Para generar códigos QR (ej: Mercado Pago)
qrcode
pillow

# Opcional pero útil para desarrollo
validators

# Por las dudas, como dijiste:
pyodbc
Faker
numpy
bcrypt
ttkthemes
ttkbootstrap
qrcode
mercadopago
flask
flask-ngrok2